<h1>All Questions</h1>
<% @questions.each do |q| %>
  <div class="media", "media-body">
    <h4 class="media-heading">
      <%= link_to q.title, q %>
    </h4>
  </div>
<% end %>
<p><p>
    <%= link_to "New", new_question_path, class: "btn btn-success" %>
</p></p>

