<h1>Contact me!</h1>
<p>Here's all the ways you can find me on the WORLD WIDE WEB!</p>

<p><button type="button" class="btn btn-warning"><%=link_to "Github", "https://www.github.com/pcasper2", class: "social-btn"%></button></p>

<p>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Follow Me! <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="http://www.twitter.com/pcasper2">Twitter</a></li>
    <li><a href="https://www.facebook.com/profile.php?id=1924923">Facebook</a></li>
  </ul>
</div>
</p>